html {
    scroll-behavior: smooth;
    --backgroundWhite: #FFFFFF;
    --borderColorGrey: #AAB8BF;
    --empowerButtonColor: #7A858A;
    --backgroundPink: #ECEAF8;
    --basicColored: #6157AB;
    --h2Color: #333333;
    --h4Color: #574D9C;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.nav a {
    color: #636769;
    text-decoration: none;
}

@keyframes dropAndShift {
    0% {
        transform: translate(0px, 15px);
    }

    16.67% {
        transform: translate(80px, 13px);
    }

    33.34% {
        transform: translate(40px, 10px);
    }

    50.01% {
        transform: translate(40px, -30px);
    }

    66.68% {
        transform: translate(40px, 55px);
    }

    83.35% {
        transform: translate(40px, 10px);
    }

    100% {
        transform: translate(0px, 15px);
    }
}

@keyframes bubbleGlint {
    0% {
        top: 3px;
        left: 4px;
        opacity: 0;
    }

    8.335% {
        top: 6px;
        left: 6px;
        opacity: 0.5;
    }

    16.67% {
        top: 3px;
        left: 4px;
        opacity: 0;
    }

    33.34% {
        top: 3px;
        left: 4px;
        opacity: 0.5;
    }

    50.01% {
        top: 3px;
        left: 4px;
        opacity: 0;
    }

    58.345% {
        top: 6px;
        left: 6px;
        opacity: 0.5;
    }

    66.68% {
        top: 3px;
        left: 4px;
        opacity: 0;
    }

    83.35% {
        top: 6px;
        left: 6px;
        opacity: 0.5;
    }

    100% {
        top: 3px;
        left: 4px;
        opacity: 0;
    }
}

.Strich1 {
    position: absolute;
    left: calc(50% - 65px);
    top: calc(50% - 25px);
    width: 130px;
    height: 50px;
    background: #000;
    border-radius: 25px;
    transform: rotate(45deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.Strich2 {
    position: absolute;
    width: 130px;
    height: 50px;
    background: #000;
    border-radius: 25px;
    transform: rotate(-90deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.bubble {
    position: absolute;
    top: 0;
    left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #ffb3c1, #e64980, #ff8787);
    animation: dropAndShift 5s ease-in-out infinite;
    z-index: 1;
}

.bubble1 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 30% 30%, #edb3ff, #ac49e6, #fb87ff);
    border-radius: 50%;
    left: 8px;
    animation: dropAndShift 6s ease-in-out infinite;
    z-index: 2;
}

.bubble2 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 30% 30%, #b3d8ff, #4963e6, #87a7ff);
    border-radius: 50%;
    left: 12px;
    animation: dropAndShift 4s ease-in-out infinite;
    z-index: 3;
}

.bubble3 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 30% 30%, #b3ffbc, #35a32f, #75ba61);
    border-radius: 50%;
    left: 10px;
    animation: dropAndShift 7s ease-in-out infinite;
    z-index: 4;
}


body {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    display: none;
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    min-height: 84px;
    color: #636769;
    margin-left: auto;
}

.nav>ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 68px;
}

.main {
    position: relative;
    padding: 13px 0 0 60px;
}

.main-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-img {
    position: absolute;
    top: 0;
    right: -74px;
    animation: visible 1s ease-out forwards;
    animation-timeline: scroll(root block);
    margin: 0 auto;
    width: 50%;
    display: block;
}

@keyframes visible {
    0% {
        transform: scale(0.5) rotate(-5deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotate(5deg);
        opacity: 1;
    }
}

.main-title {
    max-width: 616px;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 1px;
    color: #363B3D;
}

.main-text {
    max-width: 599px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05px;
    color: #636769;
}

.main-buttons {
    display: flex;
    gap: 24px;
}

.main-button {
    min-width: 158px;
    height: 54px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    border: none;
    color: #FFFFFF;
    padding: 12px 24px;
}

.colored {
    background: var(--basicColored);
}

.uncolored {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.5px;
    background: none;
}

.button-text {
    color: var(--basicColored);
}

.line {
    width: 93px;
    height: 1px;
    background: var(--basicColored);
}

.clock {
    font-size: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    border: 10px solid var(--basicColored);
    margin: 100px;
    box-shadow: 1px 1px 3px var(--basicColored);
}

.number,
.point {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    position: absolute;
    font-size: 3em;
    color: var(--basicColored);
    text-shadow: 1px 1px 3px var(--basicColored);
}

.point {
    line-height: 30px;
    text-shadow: none;
}

.sec,
.min,
.hour {
    position: absolute;
    transform-origin: 50% 100%;
    border-radius: 5px;
}

.center {
    position: absolute;
    width: 10px;
    height: 10px;
    background: wheat;
    border-radius: 50%;
}

.sec {
    height: 50%;
    width: 5px;
    background: var(--basicColored);
    margin-top: -50%;
}

.min {
    height: 40%;
    width: 7.5px;
    background: rgb(238, 152, 152);
    margin-top: -40%;
}

.hour {
    height: 30%;
    width: 10px;
    background: rgb(162, 162, 243);
    margin-top: -30%;
}

.number:nth-child(1) {
    transform: rotate(30deg);
}

.number:nth-child(2) {
    transform: rotate(60deg);
}

.number:nth-child(3) {
    transform: rotate(90deg);
}

.number:nth-child(4) {
    transform: rotate(120deg);
}

.number:nth-child(5) {
    transform: rotate(150deg);
}

.number:nth-child(6) {
    transform: rotate(180deg);
}

.number:nth-child(7) {
    transform: rotate(210deg);
}

.number:nth-child(8) {
    transform: rotate(240deg);
}

.number:nth-child(9) {
    transform: rotate(270deg);
}

.number:nth-child(10) {
    transform: rotate(300deg);
}

.number:nth-child(11) {
    transform: rotate(330deg);
}

.number:nth-child(12) {
    transform: rotate(360deg);
}

.point:nth-child(13) {
    transform: rotate(15deg);
}

.point:nth-child(14) {
    transform: rotate(45deg);
}

.point:nth-child(15) {
    transform: rotate(75deg);
}

.point:nth-child(16) {
    transform: rotate(105deg);
}

.point:nth-child(17) {
    transform: rotate(135deg);
}

.point:nth-child(18) {
    transform: rotate(165deg);
}

.point:nth-child(19) {
    transform: rotate(195deg);
}

.point:nth-child(20) {
    transform: rotate(225deg);
}

.point:nth-child(21) {
    transform: rotate(255deg);
}

.point:nth-child(22) {
    transform: rotate(285deg);
}

.point:nth-child(23) {
    transform: rotate(315deg);
}

.point:nth-child(24) {
    transform: rotate(345deg);
}

.point {
    font-size: 40px;
    color: var(--basicColored);
}

.translate-buttons {
    width: 68px;
    height: 30px;
    cursor: pointer;
    gap: 5px;

    & img {
        width: 68px;
        height: 30px;
    }
}

.companies {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.companies-title {
    color: #96979A;
    display: flex;
}

.companies-imgs {
    display: flex;
    align-items: center;
}

.empower {
    background: #F5F4F2;
    padding: 72px 60px 0 60px;
}

.text-align-center {
    text-align: center;
}

.h2 {
    font-size: 52px;
    font-weight: 400;
    color: var(--h2Color);
}

.empower-buttons {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin: 47px 0 55px 0;
}

.empower-button {
    height: 60px;
    padding: 15px 25px;
    background: var(--backgroundWhite);
    border: 1px solid var(--borderColorGrey);
    border-radius: 6.8px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: var(--empowerButtonColor);
}

.empower-button-colored {
    background: var(--backgroundPink);
    border: 1px solid var(--basicColored);
    color: var(--basicColored);
}

.buyers-agents {
    padding: 74px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    background: var(--backgroundWhite);
}

.buyers-agents-rows {
    display: flex;
    flex-direction: row;
    gap: 85px;
}

.buyers-png {
    width: 400px;
}

.buyers-agents-row {
    border-top: 1px solid #C9D3D9;
}

.buyers-agents {
    display: flex;
    flex-direction: column;
}

.h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 97px;
    margin-top: 33px;
    letter-spacing: 2.32px;
    color: var(--h4Color);
}

.h3 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0%;
    color: #363B3D;

}

.p {
    font-size: 21px;
    font-weight: 400;
    color: #636769;
    margin-top: 32px;
}

.buyers-button {
    width: 223px;
    height: 54px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    border: none;
    color: #FFFFFF;
    margin: 42px 0;
}

.icons {
    display: flex;
}

.empower-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 65px;
}

.empower-icons-column {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--h4Color);
}

.icon-text {
    color: var(--basicColored);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.company {
    background: #F5F4F2;
    padding: 0 60px;
}

.company>div {
    background: #E3E6F9;
    padding: 72px 63px;
}

.company h2 {
    margin-bottom: 72px;
}

.company-flex {
    display: flex;
    gap: 41px;
}

.company-p {
    font-size: 26px;
    font-weight: 400;
    color: #1E2224;
    text-align: center;
    line-height: 44px;
}

.personnel {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 11px 0 46px 0;
}

.personnels {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-creator {
    font-size: 11px;
    font-weight: 400;
    color: #636769;
    letter-spacing: 2px;
}

.company-title {
    font-size: 20px;
    font-weight: 400;
    color: #636769;
}

.company-row {
    border-top: 1px solid #C9C9C9;
}

.reliable {
    font-size: 18px;
    font-weight: 400;
    color: #363B3D;
    text-align: center;
    margin: 44px 0;
}

.company-button {
    width: 148px;
    height: 56px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
    border-color: #574D9C;
    background: #FFFFFF;
    color: var(--h4Color);
    margin: 28px 0;
}

.line {
    width: 100%;
    border-color: #B2A9EF;
}

.text-number {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 121px;
}

.homes {
    font-size: 68px;
    font-weight: 400;
    color: #323A5B;
}

.solutions-section {
    background-color: #F5F4F2;
}

.solutions-container {
    margin: 0 60px;
    background-color: var(--h4Color);
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
}

.solutions {
    padding: 32px 0 39px;
    color: var(--backgroundWhite);
    text-align: center;
    font-size: 51px;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.nav-button {
    height: 60px;
    padding: 15px 25px;
    background: var(--h4Color);
    border: 1px solid var(--backgroundWhite);
    border-radius: 6.8px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    color: var(--backgroundWhite);
    margin: 0 0 88px;
}

.active {
    background: var(--backgroundWhite);
    border: 1px solid #6157AB;
    color: var(--h4Color);
}

.img {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.button-imgs {
    background: var(--h4Color);
    border: 1px solid var(--h4Color);

}

.solution-card {
    position: relative;
    background: var(--backgroundWhite);
    width: 752px;
    height: 643px;
    border-radius: 12px;
    margin-top: auto;
}

.on-card {
    position: absolute;
    top: 32px;
    left: 32px;
}

.logo-badge {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #7569CF;
    border-radius: 50%;
    top: 42px;
    left: 42px;
}

.r-png {
    position: absolute;
    left: 13px;
    top: 12px;
}

.name {
    position: absolute;
    width: 127px;
    height: 29px;
    background: #333333;
    top: 178px;
    left: 229px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECEAF8;
}

.home-won {
    position: absolute;
    top: 207px;
    width: 324px;
    height: 397px;
    background-color: #E7ECEE45;
    transform: translateX(32px)
}

.lines {
    position: absolute;
    top: 33px;
    left: 24px;
    border: 1px solid #C7C1F3;
    width: 80px;
}

.HOME {
    color: #363B3D;
    position: absolute;
    top: 28px;
    left: 110px;
    gap: 6px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.1px;
}

.lane {
    position: absolute;
    top: 33px;
    left: 225px;
    border: 1px solid #C7C1F3;
    width: 80px;
    gap: 7px;
}

.protection {
    position: absolute;
    top: 84px;
    left: 204px;
}

.layout {
    position: absolute;
    top: 174px;
    left: 24px;
    border: 1px solid #C7C1F3;
    width: 284px;
}

.content {
    position: absolute;
    top: 205px;
    left: 24px;
    width: 45px;
    height: 60px;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #363B3D;
}

.text {
    position: absolute;
    top: 205px;
    left: 110px;
    width: 200px;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #636769
}

.seller {
    position: absolute;
    top: 297px;
    left: 24px;
    width: 43px;
    height: 60px;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #363B3D;
}

.closing {
    color: #636769;
    position: absolute;
    top: 297px;
    left: 118px;
    width: 194px;
    height: 44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.6px;
}


.offer {
    position: absolute;
    top: 151px;
    left: 568px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 32px;
    line-height: 36.5px;
    color: #2B2B2B;
}

.text-container {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    position: absolute;
    top: 259px;
    left: 568px;
    width: 285px;
    height: 90px;
    color: #2B2B2B;
}

.learn {
    position: absolute;
    top: 426px;
    left: 570px;
    border: 1px solid #7569CF;
    border-radius: 5px;
    background: #7569CF;
    color: #FFFFFF;
    width: 135px;
    height: 54px
}

.border-line {
    position: absolute;
    border: 1px solid #9AA6AC;
    width: 285px;
    top: 532px;
    left: 570px;
}

.book {
    position: absolute;
    top: 558px;
    left: 570px;
}

.read {
    position: absolute;
    top: 558px;
    left: 595px;
    width: 172px;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #6157AB;
}

.rectengle {
    position: absolute;
    left: 587px;
    margin: 10px 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--backgroundWhite);
    border-radius: 100%;
    background: var(--backgroundWhite);
}

.kolo {
    position: absolute;
    left: 612px;
    margin: 10px 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--backgroundWhite);
    border-radius: 100%;
}

.border {
    position: absolute;
    left: 635px;
    margin: 10px 0;
    width: 16px;
    height: 16px;
    border: 1px solid var(--backgroundWhite);
    border-radius: 100%;
}